h1 {
    color: #737373;
    margin-bottom: 0;
}

h2 {
    color: #7C7C7C;
}

a {
    text-decoration: initial;
    color: #3DA1CD;
}

#news ul li {
    padding: 15px 0;
}

ul {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

#nav {
    float: left;
    width: 200px; 
    margin-top: 10px;
}

#nav a.active {
    font-weight: bold;
}

ul li {
    list-style: none;
}

#nav ul li {
    padding: 5px 0;
}

#news {
	float: left;
	width: 600px;
}

.pagination {
	display: none;
}

.sub-text {
    color: #A1A1A1;
}

header {
    margin-bottom: 20px;
}

span.small {
    float: right;
    color: #A1A1A1;
    font-size: 13px;
}

.actions {
    margin-top: 10px;
}

.actions a {
    color: #808080;
    margin: 5px;
}