body {
    padding: 0 !important;
    margin: 0 !important;
}

h1 {
    color: #737373;
    margin-bottom: 0;
}

h2 {
    color: #7C7C7C;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

a {
    text-decoration: initial;
    color: #3DA1CD;
}

#news ul li {
    padding-top: 30px;
    border-bottom: 1px solid #eaecee;
}

ul {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

#nav {
    float: left;
    width: 200px; 
    margin-top: 10px;
    border: 1px solid #e7e7e7;
    background: #F8F8F8;
}

#nav a.active {
    font-weight: bold;
}

ul li {
    list-style: none;
}

#nav ul li {
    padding: 12px 15px;
    border-bottom: 1px solid #e7e7e7;
}

#news {
    float: left;
    padding-left: 30px;
}

.pagination {
    display: none;
}

.sub-text {
    color: #A1A1A1;
}

header {
    margin-bottom: 20px;
}

span.small {
    float: right;
    color: #A1A1A1;
    font-size: 13px;
}

.hidden {
    opacity: 0;
}

a.item-link:visited {
    color: #C04B9B;
}

.actions {
    margin-top: 20px;
    margin-bottom: 10px;
}

.actions a {
    color: #808080;
    margin: 5px;
}

#news .item a {
    font-size: 20px;
    color: #444;
}

#news .item a:hover {
    text-decoration: underline;
}

#items .actions a {
    font-size: 15px;
    color: #6D81E8;
    margin-right: 69px;
}

#items .actions a:last-child {
    margin-right: 0;
}